.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  animation: slide 0.3s ease-in forwards;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.8;
}

.closeButton:hover {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.inputBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
}

.label {
  text-align: center;
  width: 20%;
  height: auto;
  font-size: 1.2rem;
}

.input {
  width: 70%;
  height: 2rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #e2e2e2;
  background-color: #e2e2e2;
}

.button:hover {
  background-color: blueviolet;
  color: #ffffff;
}

@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
