.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  height: auto;
  padding: 2rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: auto;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  border: 1px solid #e2e2e2;
  border-radius: 0.5rem;
}
