.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 15rem;
  height: auto;
  gap: 1rem;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #e2e2e2;
}
