.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 999;
}

.containerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
